<div style="min-height: 20px;width:100%" *ngIf="loading">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>
<div fxFill>
  <h3>Log entries for {{celebrities[0]?.new?.name}}</h3>
  <div>
    <div *ngIf="verification_log?.length" style="width: 80%; margin-top:20px;"
         allowed="ROLE_ADMIN,ROLE_USER,ROLE_EDITOR,ROLE_SPOT_CHECKER,ROLE_TRAINER">
      <mat-expansion-panel>
        <mat-expansion-panel-header>Verification Log</mat-expansion-panel-header>
        <mat-list dense>
          <mat-list-item *ngFor="let entry of verification_log">
            <i>{{entry.login}}</i>&nbsp;on {{entry.date|date:'shortDate'}}
          </mat-list-item>
        </mat-list>
      </mat-expansion-panel>
    </div>
  </div>
  <div>&nbsp;</div>
  <div *ngFor="let celebrity of celebrities;last as isLast;index as i">
    <div>
      <celebrity-verbose-log [new]="celebrity.new" [old]="celebrity.old"></celebrity-verbose-log>
    </div>
  </div>
</div>
