<h1 mat-dialog-title>{{message}}</h1>
<mat-dialog-content>
    <!--<div fxLayout="row">-->
        <!--<div>-->
            <form class="form" #saveForm="ngForm" (ngSubmit)="onSubmit($event)" name="login-form-data"
                  fxLayout="column">
                <div>
                    <mat-form-field>
                        <input matInput placeholder="Login" value="" type="text" [(ngModel)]="login" name="login">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field>
                        <input matInput placeholder="Password" value="" type="password" [(ngModel)]="password" autocomplete="current-password"
                               name="password">
                    </mat-form-field>
                </div>
                <div style="min-height: 20px;width:350px" *ngIf="isSaving">
                    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                </div>
                <div>
                    <br>
                    <br>
                </div>
            </form>
        <!--</div>-->
    <!--</div>-->
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-raised-button [disabled]="!saveForm.form.valid || isSaving" (click)="onSubmit($event)"
            class="pull-right" style="margin-left: 260px;">
        Login
    </button>
</mat-dialog-actions>
